@{
    @model solforbTest.Models.UpsertOrderViewModel
}


<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body class="container-fluid">
      <form class="form-group">
          <label class="text-dark">Дата создания заказа </label>
          <input readonly="readonly" type="text" class="form-control" placeholder="@Model.OrderDateOfCreate" />
          <label class="text-dark">Номер заказа</label>
          <input readonly="readonly" type="text" class="form-control" placeholder="@Model.OrderNumber" />
          <label class="text-dark">Провайдер</label>
          <input readonly="readonly" type="text" class="form-control" placeholder="@Model.ProviderName" />
          <table class="table">
              <thead>
                  <tr>
                      <th>Название товара</th>
                      <th>Колличество</th>
                      <th>Еденицы измерения</th>
                  </tr>
              </thead>
              <tbody>
                  @foreach (var orderItem in Model.OrderItemViewModels)
                  {
                      <tr>
                          <td>@orderItem.ItemName</td>
                          <td>@orderItem.Quantity</td>
                          <td>@orderItem.Unit</td>
                      </tr>
                  }
              </tbody>
          </table>
          <input class="btn btn-primary" type="submit" value="Редактировать" asp-action="UpsertNewOrder" asp-controller="Home" asp-route-id="@Model.Id"/>
          <input class="btn btn-danger" type="submit" asp-controller="Order" asp-action="Delete" asp-route-id="@Model.Id" value="Удалить заказ"/>
      </form>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>